@-o-viewport {
    width: device-width;
  }
  @-ms-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
  
  html {
    overflow-y: auto;
  }
  
  img,
  audio,
  video,
  canvas {
    max-width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7EBA2;
    color: #333;
}

header {
    background-color: #E7EBA2;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;

}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero h1 {
    font-size: 1em;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hero {
    font-size: 1.2em;
    color: #FF8282;
    margin-top: 10px;
}

.content {
    padding: 20px;
    padding-top: 0px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.5em;
    color: #FF8282;
    font-style: italic;
}

.section img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.conclusion {
    background-color: #E7EBA2;
    color: #333;
    border-radius: 5px;
}

footer {
    background-color: #001742;
    color: #fff;
    text-align: center;
} 

footer .cta p {
    font-size: 1.2em;
    display:block;
    padding:0px;
}

footer button {
    background-color: #001742;
    color: #FF8282;
    border: none;
    padding: 10px 20px;
    margin-top: 0;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

footer .socials {
    margin-top: 10px;
    background-color: #E7EBA2;
    align-content: left;
}

footer .socials img {
    float: left;
    width: auto;
    height: 40px;
    margin: 0 10px;
}

.cta {
    padding-top: 2px;
    color:#FF8282;
    font-size: 15px;
    font-weight: bold;
}

.quote {
    font-family: cursive;
    font-size: 2em;
    margin-top: 5px;
}

h1 {
    font-weight: bold;
    font-size:1
}

.italic {
    font-style:italic;
}

.hero img {
    max-height: 500px;
    width:auto;
}

.growth2 img, .growth3 img {
    height: auto;
    width:100%;
    display: block;
}
  